:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.main-title {
  margin: 32px 0 24px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
}

.page-home .main-title {
  margin: 12px 0 8px;
}

.page-gallery .main-title {
  margin: 12px 0 8px;
}

.main-title-gradient {
  background: linear-gradient(90deg, #747bff 0%, #ff8a3d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 40px;
  }
}
