/* Header та навігація / Header and navigation */
.header {
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.25rem;
  transition: opacity 200ms ease-in;
}

.nav-logo:hover .main-title-gradient,
.nav-logo:focus .main-title-gradient {
  color: #6c8cff;
}
